html,
body {
  min-height: 100vh;
}

body {
  padding-top: calc(56px + 20px);
}

.flex-grow {
  flex: 1;
}

a.card {
  text-decoration: none;
}

a.card:hover {
  text-decoration: none;
}

#search-icon {
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  -o-transform     : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hidden {
  display: none !important;
}

.dropdown-toggle:focus~.dropdown-menu {
  display: block !important;
}